<html>
<head>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on("load page", function (filename) {
      window.location.href = 'http://' + document.domain + ':' + location.port + '/' + filename;
    });

    // source is a unique representation of this page, data only used if necessary
    function transition(source, data) {
      socket.emit('transition event', {"source_name":source, "data":data});
    };
</script>

</head>

<body>

<img src="static/imatges/paint4.png" usemap="#planetmap" >

<map name="planetmap">
	<area shape="rect" coords="323,853,1155,1124" onClick="transition('index4.html', 0)" ></area>
	<area shape="rect" coords="1361,853,2202,1224"onClick="transition('index4.html', 1)" ></area>
</map>

</body>
</html>

