<html>
<head>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on("load page", function (filename) {
      window.location.href = 'http://' + document.domain + ':' + location.port + '/' + filename;
    });

    // source is a unique representation of this page, data only used if necessary
    function transition(source, data) {
      socket.emit('transition event', {"source_name":source, "data":data});
    };

    transition("index5.html", -1);
</script>

</head>
<body>
<img src="static/imatges/paint5.png" style="width:100%; height:100%;"  onClick="transition('index5.html', -1)" >

</body>
</html>
